
body
{
	height: 100%;
	margin: 15px;
	font-family: "Trebuchet MS" , Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: black;
	background: rgb(0,0,0) url( 'graphics/globe.jpg' ) center bottom no-repeat;
	background-attachment: fixed;
}

/*Alignment Info*/

.right
{
	float: right;
}

.left
{
	float: left;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.clear {
  clear: both;
}

/*Wrappers for Content*/

#wrapIt
{
	width: 900px;
	position: absolute;
	left: 50%;
	margin-left: -450px;
	padding: 0px;
	background: white;
	border:0;
	/*border: solid 4px rgb(26,49,76);*/
}

#wrap
{
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	width: 900px;
}

#mainTable
{
	width: 100%;
	padding-left: 8px; 
	padding-right: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.mainBox
{
	border: solid 2px rgb(26,49,76);
	background-color: rgb(26,49,76);
	width: 100%;
}

.mainBoxP
{
	border: solid 2px rgb(26,49,76);
	background-color: rgb(26,49,76);
	width: 550px;
}

.omainBox
{
	border: solid 2px rgb(26,49,76);
    background-color: rgb(26,49,76);
}

.omainBox2
{
    background-color: rgb(60,106,142);
}

.omainBox3
{
    background-color: White;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(26,49,76);
}

.omainBox4
{
	background-color: rgb(238,238,244);
	padding: 10px;	        
	margin: 0px;

}

.connectionStyle
{
	color: white;
	font-weight: bold;
}

.mainBox2
{
	width: 100%;
	background-color: rgb(60,106,142);
}

table.tableClass
{
	font-size:.9em;
}

table.tableClass td
{
	padding:5px;
}

.mainBox3
{
	background-color: white;
	border: solid 1px white;
	width: 45%;
	font-size: .9em;
}

.mainBox4
{
	background-color: rgb(60,106,142);
	padding: 10px;
}

.mainBox5
{
	background-color: rgb(74,128,174);
	border: solid 1px rgb(74,128,174);
	font-size: .9em;
}

.boxPopupStyle
{
	background-color: rgb(26,49,76);
	border:solid 2px rgb(26,49,76);
}

.boxPopupStyle1
{
	background-color: rgb(60,106,142);
	font-size: .9em;
}

.boxPopupStyle2
{
	background-color: rgb(74,128,174);
	border: solid 5px rgb(60,106,142);
}

.selectedDatabase
{
	background-color: rgb(140,176,214);
	border: solid 1px rgb(97,140,183);
	padding: 3px;
	margin: 0px;
	text-decoration: none;
}

.selectDatabase
{
	background-color: white;
	border: solid 1px white;
	padding: 3px;
	margin: 0px;
	text-decoration: none;
}

.selectTable, a.selectTable:link, a.selectTable:visited
{
	background-color: white;
	border: solid 1px white;
	padding: 3px;
	margin: 0px;
	text-decoration: none;
	color:Black;
}

a.selectTable:hover
{
	background-color: rgb(140,176,214);
	border: solid 1px rgb(97,140,183);
	padding: 3px;
	margin: 0px;
	text-decoration: none;
	color:Black;
}

.hrStyle
{
	border: solid 2px rgb(24,295,244);
}

.buttonClass
{
	width:200px;
}

.modalBackground {
	/*background: rgba(255,255,255,0.5); */ /*works for FF but not IE*/
	background:white;
	filter: alpha(opacity=50); /*for IE*/
	opacity: 0.5; /*for IE*/
	-moz-opacity:0.5; /*for FF & Chrome*/
	/*Need to check these properties on other browsers*/
}


.conditionsBox
{
	width:75%;
	padding:5px;
	vertical-align:top;
	text-align: center;
}

.conditionsBoxStyle
{
	background: rgb(255,255,255);
	width:100%;
	color:Black;
}

.conditionsBoxStyleEmpty
{
	width:100%;
	color:Black;
}

.overlayBox
{
	width:70px;
	height:70px;
}

.handleImage
        {
            width: 16px;
            height: 16px;
            cursor: se-resize;
        }
        
    .overlayStyle
        {
            color: white;
            font-weight: bold;
        }     

.iconBox
{
	width:145px;
	text-align:center;
}

.connectionTitle
{
	color: black;
	font-size: .9em;
}

.inputBox
{
	background-color: rgb(238,238,244);
	border: solid 1px rgb(205,205,216);
}

.button
{
	background: rgb(26,49,76) url('graphics/buttonBack.gif');
	border: solid 1px rgb(26,49,76);
	color: white;
	font-weight: bold;
	height: 22px;
	cursor: pointer, default;	
}

.button:hover
{
	/*background-position: 0 -20px;*/
	background: rgb(176,212,244)  url('graphics/buttonBackH.gif');
	color: rgb(26,49,76);
	border: solid 1px rgb(26,49,76);
}

#header
{
	width: 900px;
	height: 160px;
	margin: 0 auto;
	background: rgb(26,49,76);
	border-bottom: solid 4px rgb(18,64,110);
}

#logo
{
	width: 750px;
	height: 85px;
	color: white;
	background:  url('graphics/odbc2kml.gif') left bottom no-repeat;
}

#siteInfo
{
	padding: 10px 10px 10px 100px;
	font-weight: bold;
	font-size:20px;
	color: white;
}

#home
{
	font-size:13px;
	font-weight:normal;
	padding: 10px;
	color: white;
}

#page
{
  margin-left: auto;
  margin-right: auto;
}

#footer
{
	width: 900px;
	height: 40px;
	margin: 0 auto;
	padding: 5px 0 0px 0;
	/*background: rgb(26,49,76);*/
	background: White;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}

#footer p
{
	margin: 0;
	line-height: normal;
	text-transform: uppercase;
	text-align: center;
}

#footer a
{
	color: #FFFFFF;
}

/* Connection Link Icons*/
.newIcon{
	background: url('/graphics/newH.gif') 0 0 no-repeat;
	height: 20px;
	width: 20px;
	border: 0px;
	cursor: pointer, default;
}

.newIcon:hover { 
	background-position: 0 -20px;
}

.homeIcon{
	background: url('/graphics/homeH.gif') 0 0 no-repeat;
	height: 20px;
	width: 20px;
	border: 0px;
	cursor: pointer, default;
}

.homeIcon:hover { 
	background-position: 0 -20px;
}


.openIcon
{
	background: url('/graphics/openH.gif') 0 0 no-repeat;
	height: 20px;
	width: 20px;
	border: 0px;
	cursor: pointer, default;
}

.openIcon:hover
{
	background-position: 0 -20px;
}

.editIcon
{
	background: url('/graphics/editH.gif') 0 0 no-repeat;
	height: 20px;
	width: 20px;
	border: 0px;
	cursor: pointer, default;	
}

.editIcon:hover
{
	background-position: 0 -20px;
}

.deleteIcon
{
	background: url('/graphics/deleteH.gif') 0 0 no-repeat;
	height: 20px;
	width: 20px;
	border: 0px;
	cursor: pointer, default;	
}

.deleteIcon:hover
{
	background-position: 0 -20px;
}

.kmlIcon
{
	background: url('/graphics/kmlH.gif') 0 0 no-repeat;
	height: 20px;
	width: 20px;
	border: 0px;
	cursor: pointer, default;	
}

.kmlIcon:hover
{
	background-position: 0 -20px;
}

/*Connection Page Styles*/

.connectionBox
{
	background-color: white;
	width: 100%;
}

.oddConn
{
	background-color: white;
	vertical-align:top;
}

.evenConn
{
	background-color: rgb(176,212,244);
	vertical-align:top;
}

.newConn
{
    color: white;
    vertical-align:top;
	text-align:right;
	width:100%;
	font-weight:bold;
}


.newConnA a:link, a:visited, a:active 
{
	color:white; 
	text-decoration:none; 
	font-weight:bold; 
	padding:0px;
	
}
.newConnA a:hover
{
	background-color:transparent; 
	color:rgb(100,172,234); 
	text-decoration:none; 
	font-weight:bold; 
	padding:0px;
}

.connIcons
{
	width: 100px;
}



